<button type="button" mat-button><input multiple type="file" class="upload" (change)="changeListener1($event.target.files)"></button>
<button type="button" mat-button (click)="showbtn()"><input multiple type="file" class="upload" (change)="changeListener2($event.target.files)"></button>


<button type="button" mat-raised-button=""  color="primary" (click)="refresh()" *ngIf="uploaded">analyze</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="analyzed">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="percent1">
    <th mat-header-cell *matHeaderCellDef> MktPercent1(%) </th>
    <td mat-cell *matCellDef="let element"> {{element.percent1}} </td>
  </ng-container>

  <!-- market percent Column -->
  <ng-container matColumnDef="percent2">
    <th mat-header-cell *matHeaderCellDef> MktPercent2(%) </th>
    <td mat-cell *matCellDef="let element"> {{element.percent2}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="difference">
    <th mat-header-cell *matHeaderCellDef> Difference(%) </th>
    <td mat-cell *matCellDef="let element"> {{element.difference}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


